<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
 		<typeAlias type="com.mata.persfumeAdmin.notice.model.vo.Notice" alias="notice" />
 		<typeAlias type="com.mata.persfumeAdmin.coupon.model.vo.MemCoupon" alias="memCoupon"/>
 		<typeAlias type="com.mata.persfumeAdmin.coupon.model.vo.Coupon" alias="coupon" />
		<typeAlias type="com.mata.persfumeAdmin.event.model.vo.Event" alias="event" />
		<typeAlias type="com.mata.persfumeAdmin.event.model.vo.EventImg" alias="eventImg" />
		<typeAlias type="com.mata.persfumeAdmin.product.model.vo.ProductImg" alias="productImg" />
		<typeAlias type="com.mata.persfumeAdmin.product.model.vo.Product" alias="product" />
		<typeAlias type="com.mata.persfumeAdmin.oneClass.model.vo.OneClass" alias="oneClass" />
		<typeAlias type="com.mata.persfumeAdmin.oneClass.model.vo.OneClassImg" alias="oneClassImg" />
		<typeAlias type="com.mata.persfumeAdmin.oneClass.model.vo.OneClassReview" alias="oneClassReview" />
		<typeAlias type="com.mata.persfumeAdmin.oneClass.model.vo.OneClassRegist" alias="oneClassRegist" />
		<typeAlias type="com.mata.persfumeAdmin.oneClass.model.vo.OneClassTeacher" alias="oneClassTeacher" />
		<typeAlias type="com.mata.persfumeAdmin.member.model.vo.Member" alias="member" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/coupon-mapper.xml" />
		<mapper resource="/mappers/oneclass-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/product-mapper.xml" />
		<mapper resource="/mappers/event-mapper.xml" />
		
	</mappers>
	
</configuration>  





