<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">
	<!-- 상품 테이블  -->
	<resultMap type="product" id="productResultSet">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRODUCT_EXPLAIN" property="productExplain" />
		<result column="PRODUCT_PRICE" property="productPrice" />
		<result column="PRODUCT_STOCK" property="productStock" />
		<result column="REGIST_DATE" property="registDate" />
		<result column="CATEGORY" property="category" />
		<result column="GENDER" property="gender" />
		<result column="TOP_NOTE" property="topNote" />
		<result column="MIDDLE_NOTE" property="middleNote" />
		<result column="BASE_NOTE" property="baseNote" />
		<result column="PRODUCT_STATUS" property="productStatus" />
		<result column="DISCOUNT" property="discount" />
		<result column="THUMBNAIL_IMG" property="thumbnailImg" />
	</resultMap>
	
	<!-- 상품 이미지 테이블  -->
	<resultMap type="productImg" id="productImgResultSet">
		<result column="PRODUCT_IMG_NO" property="productImgNo" />
		<result column="PRODUCT_IMG_PATH" property="productImgPath" />
		<result column="PRODUCT_IMG_ORIGIN" property="productImgOrigin" />
		<result column="PRODUCT_IMG_CHANGE" property="productImgChange" />
		<result column="IMG_TYPE" property="imgType" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	
	<!-- 리뷰 테이블  -->
	<resultMap type="productReview" id="ProductReviewResultSet">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="REVIEW_IMG_PATH" property="reviewImgPath" />
		<result column="REVIEW_IMG_ORIGIN" property="reviewImgOrigin" />
		<result column="REVIEW_IMG_CHANGE" property="reviewImgChange" />
		<result column="REVIEW_DATE" property="reviewDate" />
		<result column="REVIEW_STATUS" property="reviewStatus" />
		<result column="MEM_NO" property="memNo" />
		<result column="PRODUCT_NO" property="productNo" />
	</resultMap>
	
	
	<!-- 상품조회 전체조회 -->
	<select id="selectList"
			resultMap="productResultSet">
		SELECT * 
		  FROM PRODUCT
	</select>
	
	<!-- 상품이미지 조회 -->
	<select id="selectProductpi"
			resultMap="productImgResultSet">
		SELECT * 
		  FROM PRODUCT_IMG 
		 WHERE PRODUCT_NO = #{productNo}
		   AND STATUS = 'Y'
		   AND IMG_TYPE = 2
	</select>
	
	<!-- 상품상세조회  -->
	<select id="selectProduct"
			parameterType="_int"
			resultMap="productResultSet">
			SELECT P.* , PI.PRODUCT_IMG_PATH AS THUMBNAIL_IMG
			  FROM PRODUCT P
			  JOIN PRODUCT_IMG PI ON P.PRODUCT_NO = PI.PRODUCT_NO
			 WHERE P.PRODUCT_NO = #{productNo}
			   AND PI.IMG_TYPE = 1
	</select>
	
	<!-- 상품 추가 -->
	<insert id="insertProduct"
			parameterType="product">
			INSERT INTO PRODUCT (PRODUCT_NO,
						PRODUCT_NAME,
						PRODUCT_EXPLAIN,
						PRODUCT_PRICE,
						PRODUCT_STOCK,
						CATEGORY,
						DISCOUNT,
						GENDER,
						TOP_NOTE,
						MIDDLE_NOTE,
						BASE_NOTE,
						PRODUCT_STATUS)
					VALUES(SEQ_PRODUCT_NO.NEXTVAL,
					#{productName},
					#{productExplain},
					#{productPrice},
					#{productStock},
					#{category},
					#{discount},
					#{gender},
					#{topNote},
					#{middleNote},
					#{baseNote},
					default) 
	</insert>
	
	<!-- 상품 이미지 추가  -->
		<insert id="insertProductImg" 
				parameterType="productImg">
			INSERT INTO PRODUCT_IMG (PRODUCT_IMG_NO,
			                       PRODUCT_IMG_PATH,
			                       PRODUCT_IMG_ORIGIN,
			                       PRODUCT_IMG_CHANGE,
			                       IMG_TYPE,
			                       PRODUCT_NO,
			                       STATUS)
			               VALUES (SEQ_IMG_NO.NEXTVAL,
			                       #{productImgPath},
			                       #{productImgOrigin},
			                       #{productImgChange},
			                       #{imgType},
			                       SEQ_PRODUCT_NO.CURRVAL,
			                       'Y')
	</insert>
	
		<insert id="insertProductImg2" 
				parameterType="productImg">
			INSERT INTO PRODUCT_IMG (PRODUCT_IMG_NO,
			                       PRODUCT_IMG_PATH,
			                       PRODUCT_IMG_ORIGIN,
			                       PRODUCT_IMG_CHANGE,
			                       IMG_TYPE,
			                       PRODUCT_NO,
			                       STATUS)
			               VALUES (SEQ_IMG_NO.NEXTVAL,
			                       #{productImgPath},
			                       #{productImgOrigin},
			                       #{productImgChange},
			                       #{imgType},
			                       #{productNo},
			                       'Y')
	</insert>
	
	
	<!-- 이미지 삭제  -->
	<delete id="productImgdele3"
			parameterType="string">
		  DELETE FROM PRODUCT_IMG
			WHERE PRODUCT_IMG_PATH = #{delimgPath}
	</delete>
	
	<!--  상품 정보 수정  -->
	<update id="updateProduct"
			parameterType="product">
				UPDATE PRODUCT 
					SET
					PRODUCT_NAME = #{productName},
					PRODUCT_EXPLAIN = #{productExplain},
					PRODUCT_PRICE = #{productPrice},
					PRODUCT_STOCK = #{productStock},
					DISCOUNT = #{discount},
					CATEGORY = #{category},
					GENDER = #{gender},
					TOP_NOTE = #{topNote},
					MIDDLE_NOTE = #{middleNote},
					BASE_NOTE = #{baseNote},
					PRODUCT_STATUS = #{productStatus}
			WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 상품 삭제  -->
	<update id="deleteProduct"
			parameterType="_int">
			UPDATE product
			SET PRODUCT_STATUS = 'N'
			WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 상품 사진 수정  -->
	<update id="updateProductImg" 
			parameterType="productImg">
			   UPDATE PRODUCT_IMG
				SET PRODUCT_IMG_PATH = #{productImgPath},
				    PRODUCT_IMG_ORIGIN = #{productImgOrigin},
				    PRODUCT_IMG_CHANGE = #{productImgChange},
				    IMG_TYPE = #{imgType}
				WHERE PRODUCT_NO = #{productNo}
				AND PRODUCT_IMG_PATH = #{prevImgPath}
	</update>
		
		
		
	<!-- 리뷰 전체 조회  -->
	<select id="selectAllreview"
			resultMap="ProductReviewResultSet">
		SELECT * 
		  FROM PRODUCT_REVIEW
	</select>
	
	<!-- 리뷰 삭제  -->
	<select id="reviewDelete"
			parameterType="_int">
			UPDATE PRODUCT_REVIEW
			SET REVIEW_STATUS = 'N'
			WHERE REVIEW_NO = #{reviewNo}
	</select>
</mapper>
