<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
	
	<resultMap type="chatMem" id="chatMemResultSet">
		<result column="CLASS_NO" property="classNo" />
		<result column="MEM_NO" property="memNo" />
	</resultMap>
	
	<resultMap type="chatMessage" id="chatResultSet">
		<result column="CM_NO" property="cmNo" />
		<result column="CM_CONTENT" property="cmContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="CLASS_NO" property="classNo" />
		<result column="MEM_NAME" property="memName" />
		<result column="MEM_NO" property="memNo" />
	</resultMap>
	
	<resultMap type="oneClass" id="classResultSet">
		<result column="CLASS_NAME" property="className" />
		<result column="CLASS_NO" property="classNo" />
		<result column="CLASS_TEACHER" property="classTeacher" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
	</resultMap>
	
	<select id="checkUserCanExistChat"
		parameterType="chatMessage"
		resultType="_int">
		SELECT COUNT(*)
		  FROM CHAT_MEM
		 WHERE MEM_NO = #{memNo}
		   AND CLASS_NO = #{classNo}
	</select>
	
	<select id="getMemName"
		parameterType="_int"
		resultType="string">
		SELECT MEM_NAME
		  FROM MEMBER
		 WHERE MEM_NO = #{memNo}
	</select>
	
	<insert id="insertMsg"
			parameterType="chatMessage">
		INSERT INTO CHAT_MESSAGE VALUES(SEQ_CM_NO.NEXTVAL, 
		                                #{cmContent}, 
		                                TO_DATE(#{createDate}, 'YYYY-MM-DD HH24:MI:SS'), 
		                                #{classNo}, 
		                                #{memNo})
	</insert>
	
	<select id="getPrevChatMessage"
		parameterType="string"
		resultMap="chatResultSet">
		SELECT CM_NO
			 , CM_CONTENT
		     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI') AS CREATE_DATE
		     , MEM_NAME
		  FROM CHAT_MESSAGE
		  JOIN MEMBER USING (MEM_NO)
		 WHERE CLASS_NO = #{classNo}
		 ORDER BY CREATE_DATE ASC
	</select>
	
	<insert id="insertChatMem"
		parameterType="oneClassRegist">
			INSERT INTO CHAT_MEM(
			            CLASS_NO,
			            MEM_NO)
				       VALUES (
			            #{classNo},
			            #{memNo}
				       )
	</insert>
	
	<select id="getChatList"
		parameterType="_int"
		resultMap="classResultSet">
		SELECT DISTINCT CLASS_NAME
		     , CLASS_NO
		     , CLASS_TEACHER
		     , TO_CHAR(START_TIME, 'YYYY-MM-DD HH24:MI') AS START_TIME
		     , TO_CHAR(END_TIME, 'YYYY-MM-DD HH24:MI') AS END_TIME
		  FROM CLASS
		  JOIN CHAT_MEM USING (CLASS_NO)
		 WHERE MEM_NO = #{memNo}
	</select>
	
</mapper>
