<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">
	
	<!-- EVENT 테이블의 조회 결과를 자바 Event VO 타입으로 뽑아주는 resultMap -->
	<resultMap type="event" id="eventResultSet">
		<result column="EVENT_NO" property="eventNo" />
		<result column="EVENT_TITLE" property="eventTitle" />
		<result column="EVENT_CONTENT" property="eventContent" />
		<result column="EVENT_COUNT" property="eventCount" />
		<result column="START_DATE" property="startDate" />
		<result column="DEW_DATE" property="dewDate" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="EVENTIMG_PATH" property="eventImgPath" />
	</resultMap>
	
	<select id="selectExpiredListCount"
			resultType="_int">
		SELECT COUNT(*)
		  FROM EVENT
		 WHERE STATUS = 'Y'
		   AND SYSDATE &gt; START_DATE
		   AND SYSDATE &gt; DEW_DATE
	</select>
	
	<select id="selectOngoingListCount"
			resultType="_int">
		SELECT COUNT(*)
		  FROM EVENT
		 WHERE STATUS = 'Y'
		   AND SYSDATE &gt; START_DATE
		   AND SYSDATE &lt; DEW_DATE
	</select>
	
	<select id="selectScheduledListCount"
			resultType="_int">
		SELECT COUNT(*)
		  FROM EVENT
		 WHERE STATUS = 'Y'
		   AND SYSDATE &lt; START_DATE
		   AND SYSDATE &lt; DEW_DATE
	</select>
	
	
	<select id="selectExpiredList"
			resultMap="eventResultSet">
		SELECT EVENT_NO
		     , EVENT_TITLE
		     , EVENT_CONTENT
		     , EVENT_COUNT
		     , START_DATE
		     , DEW_DATE
		     , CREATE_DATE
		     , EVENTIMG_PATH
		  FROM EVENT JOIN EVENT_IMG USING (EVENT_NO)
		 WHERE EVENT.STATUS = 'Y'
		   AND EVENTIMG_LEVEL = 1
		   AND SYSDATE &gt; START_DATE
		   AND SYSDATE &gt; DEW_DATE
		 ORDER BY EVENT_NO DESC
	</select>
	
	<select id="selectOngoingList"
			resultMap="eventResultSet">
		SELECT EVENT_NO
			 , EVENT_TITLE
			 , EVENT_CONTENT
			 , EVENT_COUNT
			 , START_DATE
			 , DEW_DATE
			 , CREATE_DATE
			 , EVENTIMG_PATH
			FROM EVENT JOIN EVENT_IMG USING (EVENT_NO)
			WHERE EVENT.STATUS = 'Y'
			AND EVENTIMG_LEVEL = 1
			AND SYSDATE &gt; START_DATE
			AND SYSDATE &lt; DEW_DATE
			ORDER BY EVENT_NO DESC
	</select>
	
	<select id="selectScheduledList"
			resultMap="eventResultSet">
		SELECT EVENT_NO
			 , EVENT_TITLE
			 , EVENT_CONTENT
			 , EVENT_COUNT
			 , START_DATE
			 , DEW_DATE
			 , CREATE_DATE
			 , EVENTIMG_PATH
			FROM EVENT JOIN EVENT_IMG USING (EVENT_NO)
			WHERE EVENT.STATUS = 'Y'
			AND EVENTIMG_LEVEL = 1
			AND SYSDATE &lt; START_DATE
			AND SYSDATE &lt; DEW_DATE
			ORDER BY EVENT_NO DESC
	</select>
	
	<select id="selectEventList"
			resultMap="eventResultSet">
		SELECT EVENT_NO
		     , EVENT_TITLE
		     , EVENT_CONTENT
		     , EVENT_COUNT
		     , START_DATE
		     , DEW_DATE
		     , CREATE_DATE
		     , EVENTIMG_PATH
		     , rn
		FROM (
		    SELECT EVENT_NO
		         , EVENT_TITLE
		         , EVENT_CONTENT
		         , EVENT_COUNT
		         , START_DATE
		         , DEW_DATE
		         , CREATE_DATE
		         , EVENTIMG_PATH
		         , ROW_NUMBER() OVER (ORDER BY EVENT_NO DESC) AS rn
		    FROM EVENT 
		    JOIN EVENT_IMG USING (EVENT_NO)
		    WHERE EVENT.STATUS = 'Y'
		    AND EVENTIMG_LEVEL = 1
		    AND SYSDATE &gt; START_DATE
		    AND SYSDATE &lt; DEW_DATE
		)
		WHERE rn IN (1, 2)
		ORDER BY rn ASC
	</select>
	
	
	
	
	<insert id="insertEvent"
			parameterType="event">
		INSERT INTO EVENT(EVENT_NO
		                , EVENT_TITLE
		                , EVENT_CONTENT
		                , START_DATE
		                , DEW_DATE
		                , CREATE_DATE)
		           VALUES(SEQ_EVENT_NO.NEXTVAL
		                , #{eventTitle}
		                , #{eventContent}
		                , #{startDate}
		                , #{dewDate}
		                , SYSDATE)
	</insert>
	
	<insert id="insertEventImg"
			parameterType="eventImg">
		INSERT INTO EVENT_IMG(EVENTIMG_NO
							, EVENT_NO
		                    , EVENTIMG_LEVEL
		                	, EVENTIMG_PATH
		                	, EVENTIMG_ORIGIN
		                	, EVENTIMG_CHANGE
		                	, STATUS)
		           	   VALUES(SEQ_EVENTIMG_NO.NEXTVAL
		           	   		, SEQ_EVENT_NO.CURRVAL
		               	    , #{eventImgLevel}
		                    , #{eventImgPath}
		                    , #{eventImgOrigin}
		                    , #{eventImgChange}
		            		, #{status})
	</insert>
 	 
 	<update id="increaseCount"
 			parameterType="_int">
 		UPDATE EVENT
		   SET EVENT_COUNT = EVENT_COUNT + 1
		 WHERE EVENT_NO = #{eno}
		   AND STATUS = 'Y'
 	</update>
 	
 	<select id="selectEvent"
 			parameterType="_int"
 			resultMap="eventResultSet">
	 	SELECT EVENT_TITLE
		     , EVENT_CONTENT
		     , EVENT_COUNT
		     , START_DATE
		     , DEW_DATE
		     , EVENTIMG_PATH
		  FROM EVENT JOIN EVENT_IMG USING (EVENT_NO)
		 WHERE EVENT.STATUS = 'Y'
		   AND EVENTIMG_LEVEL = 2
		   AND EVENT_NO = #{eno}
 	</select>
</mapper>
