<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

	 <resultMap id="memberResultSet"
	 			type="member">
	 	<result column="MEM_NO" property="memNo"/>
	 	<result column="MEM_ID" property="memId"/>
	 	<result column="MEM_PWD" property="memPwd"/>
	 	<result column="MEM_NAME" property="memName"/>
	 	<result column="EMAIL" property="email"/>
	 	<result column="PHONE" property="phone"/>
	 	<result column="POSTCODE" property="postcode"/>
	 	<result column="ADDRESS" property="address"/>
	 	<result column="DETAILADDRESS" property="detailAddress"/>
	 	<result column="EXTRAADDRESS" property="extraAddress"/>
	 	<result column="GENDER" property="gender"/>
	 	<result column="BIRTH_DATE" property="birthDate"/>
	 	<result column="ENROLL_DATE" property="enrollDate"/>
	 	<result column="MODIFY_DATE" property="modifyDate"/>
	 	<result column="CHANGE_NAME" property="testDate"/>
	 	<result column="STATUS" property="status"/>
	 </resultMap>
	 
	 	 <resultMap id="ReviewResultSet"
	 			    type="productReview">
	 	<result column="REVIEW_NO" property="reviewNo"/>
	 	<result column="REVIEW_CONTENT" property="reviewContent"/>
	 	<result column="REVIEW_IMG_PATH" property="reviewImgPath"/>
	 	<result column="REVIEW_IMG_ORIGIN" property="reviewImgOrigin"/>
	 	<result column="REVIEW_IMG_CHANGE" property="reviewImgChange"/>
	 	<result column="REVIEW_DATE" property="reviewDate"/>
	 	<result column="REVIEW_STATUS" property="reviewStatus"/>
	 	<result column="MEM_NO" property="memNo"/>
	 	<result column="PRODUCT_NO" property="productNo"/>
	 </resultMap>

	<!-- 아이디 중복체크용 쿼리문 -->
	<select id="idCheck"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE MEM_ID = #{checkId}
	</select>
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="insertMember"
			parameterType="member">
		INSERT INTO MEMBER(MEM_NO
			,MEM_ID
	        , MEM_PWD
	        , MEM_NAME
	        , EMAIL
	        , PHONE
	        , POSTCODE
	        , ADDRESS
	        , DETAILADDRESS
	        , EXTRAADDRESS
	        , GENDER
	        , BIRTH_DATE)
	    VALUES( SEQ_MEM_NO.NEXTVAL 
	    	,#{memId}
	        , #{memPwd}
	        , #{memName}
	        , #{email}
	        , #{phone}
	        , #{postcode}
	        , #{address}
	        , #{detailAddress}
	        , #{extraAddress}
	        , #{gender}
	        , #{birthDate})
	
	</insert>
	
	<!-- 로그인용 쿼리문 -->
	<select id="loginMember"
			parameterType="member"
			resultMap="memberResultSet">
	<!-- 암호화 작업 후 : 오로지 아이디만을 가지고 조회 -->
	 	SELECT *
	 	  FROM MEMBER
	 	 WHERE MEM_ID = #{memId}
	 	   AND STATUS = 'Y'
	</select>
	
	
	<!--  회원정보 수정용 쿼리문 -->
	<update id="updateMember"
			parameterType="member">
			UPDATE MEMBER
			SET MEM_NAME = #{memName}
			, EMAIL = #{email}
			, PHONE = #{phone}
			, POSTCODE = #{postcode}
			, ADDRESS = #{address}
			, DETAILADDRESS = #{detailAddress}
			, EXTRAADDRESS = #{extraAddress}
			WHERE MEM_ID = #{memId}
			AND STATUS = 'Y'
	</update>
	
	<!-- 회원탈퇴 -->
	<update id="deleteMember"
			parameterType="member">
			UPDATE MEMBER
			SET STATUS = 'N'
			WHERE MEM_ID = #{memId}
			AND STATUS = 'Y'
	</update>
	
	<!-- 내가 쓴 리뷰 조회 -->
	<select id="selectReview"
			parameterType="_int"
			resultMap="ReviewResultSet">
			SELECT * 
			FROM PRODUCT_REVIEW
			WHERE MEM_NO = #{memNo}
	</select>
</mapper>