<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

	 <resultMap id="memberResultSet"
	 			type="member">
	 	<result column="MEM_NO" property="memNo"/>
	 	<result column="MEM_ID" property="memId"/>
	 	<result column="MEM_PWD" property="memPwd"/>
	 	<result column="MEM_NAME" property="memName"/>
	 	<result column="EMAIL" property="email"/>
	 	<result column="PHONE" property="phone"/>
	 	<result column="POSTCODE" property="postcode"/>
	 	<result column="ADDRESS" property="address"/>
	 	<result column="DETAILADDRESS" property="detailAddress"/>
	 	<result column="EXTRAADDRESS" property="extraAddress"/>
	 	<result column="GENDER" property="gender"/>
	 	<result column="BIRTH_DATE" property="birthDate"/>
	 	<result column="ENROLL_DATE" property="enrollDate"/>
	 	<result column="MODIFY_DATE" property="modifyDate"/>
	 	<result column="CHANGE_NAME" property="testDate"/>
	 	<result column="STATUS" property="status"/>
	 </resultMap>
	 
	 <resultMap id="ReviewResultSet"
	 			type="productReview">
	 	<result column="REVIEW_NO" property="reviewNo"/>
	 	<result column="REVIEW_CONTENT" property="reviewContent"/>
	 	<result column="REVIEW_IMG_PATH" property="reviewImgPath"/>
	 	<result column="REVIEW_IMG_ORIGIN" property="reviewImgOrigin"/>
	 	<result column="REVIEW_IMG_CHANGE" property="reviewImgChange"/>
	 	<result column="REVIEW_DATE" property="reviewDate"/>
	 	<result column="REVIEW_STATUS" property="reviewStatus"/>
	 	<result column="MEM_NO" property="memNo"/>
	 	<result column="PRODUCT_NO" property="productNo"/>
	 </resultMap>
	 
	 <resultMap id="LikeResultSet"
	 			type="product">
	 	<result column="PRODUCT_NO" property="productNo"/>
	 	<result column="PRODUCT_NAME" property="productName"/>
	 	<result column="PRODUCT_EXPLAIN" property="productExplain"/>
	 	<result column="PRODUCT_PRICE" property="productPrice"/>
	 	<result column="PRODUCT_STOCK" property="productStock"/>
	 	<result column="CATEGORY" property="category"/>
	 	<result column="GENDER" property="gender"/>
	 	<result column="TOP_NOTE" property="topNote"/>
	 	<result column="MIDDLE_NOTE" property="middleNote"/>
	 	<result column="BASE_NOTE" property="baseNote"/>
	 </resultMap>
	 
	 <resultMap id="OrderResultSet"
	 			type="OrderDetail">
	 	<result column="ORDER_NO" property="orderNo"/>
	 	<result column="PAY_CODE" property="payCode"/>
	 	<result column="TOTAL_PRICE" property="totalPrice"/>
	 	<result column="ORDER_WANT" property="orderWant"/>
	 	<result column="DELIVERY_STATUS" property="deliveryStatus"/>
	 	<result column="ORDER_DATE" property="orderDate"/>
	 	<result column="REFUND_DATE" property="refundDate"/>
	 	<result column="MEM_NO" property="memNo"/>
	 </resultMap>

	<!-- 아이디 중복체크용 쿼리문 -->
	<select id="idCheck"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE MEM_ID = #{checkId}
	</select>
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="insertMember"
			parameterType="member">
		INSERT INTO MEMBER(MEM_NO
			,MEM_ID
	        , MEM_PWD
	        , MEM_NAME
	        , EMAIL
	        , PHONE
	        , POSTCODE
	        , ADDRESS
	        , DETAILADDRESS
	        , EXTRAADDRESS
	        , GENDER
	        , BIRTH_DATE)
	    VALUES( SEQ_MEM_NO.NEXTVAL 
	    	,#{memId}
	        , #{memPwd}
	        , #{memName}
	        , #{email}
	        , #{phone}
	        , #{postcode}
	        , #{address}
	        , #{detailAddress}
	        , #{extraAddress}
	        , #{gender}
	        , #{birthDate})
	
	</insert>
	
	<!-- 로그인용 쿼리문 -->
	<select id="loginMember"
			parameterType="member"
			resultMap="memberResultSet">
	<!-- 암호화 작업 후 : 오로지 아이디만을 가지고 조회 -->
	 	SELECT *
	 	  FROM MEMBER
	 	 WHERE MEM_ID = #{memId}
	 	   AND STATUS = 'Y'
	</select>
	
	
	<!--  회원정보 수정용 쿼리문 -->
	<update id="updateMember"
			parameterType="member">
			UPDATE MEMBER
			SET MEM_NAME = #{memName}
			, EMAIL = #{email}
			, PHONE = #{phone}
			, POSTCODE = #{postcode}
			, ADDRESS = #{address}
			, DETAILADDRESS = #{detailAddress}
			, EXTRAADDRESS = #{extraAddress}
			WHERE MEM_ID = #{memId}
			AND STATUS = 'Y'
	</update>
	
	<!-- 회원탈퇴 -->
	<update id="deleteMember"
			parameterType="member">
			UPDATE MEMBER
			SET STATUS = 'N'
			WHERE MEM_ID = #{memId}
			AND STATUS = 'Y'
	</update>
	
	<!-- 내가 쓴 리뷰 조회 -->
	<select id="selectReview"
			parameterType="_int"
			resultMap="ReviewResultSet">
			SELECT * 
			FROM PRODUCT_REVIEW
			WHERE MEM_NO = #{memNo}
	</select>
	
	<!-- 내 아이디 찾기 -->
	<select id="IDfind"
			parameterType="string"
			resultType="String">
			SELECT MEM_ID
			FROM MEMBER
			WHERE EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 찾기  -->
	
	<!-- 아이디가 유효한지 체크 -->
	<select id="selectId"
		   parameterType="string"
		   resultType="_int">
		SELECT COUNT (*)
			FROM MEMBER
			WHERE MEM_ID = #{ID}
			AND STATUS = 'Y'
	</select>
	
	<!-- 임시 비밀번호를 DB에 적용 -->
	<update id="sendPWD"
			parameterType="PWDmember">
			UPDATE MEMBER
			SET MEM_PWD = #{randomPwd}
			WHERE EMAIL = #{email}
			AND STATUS = 'Y'
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePwd"
			parameterType="PWDmember">
			UPDATE MEMBER
			SET MEM_PWD = #{newPwd}
			WHERE MEM_No = #{memNo}
			AND STATUS = 'Y'
	</update>
	
	<!-- 내가 찜한 상품 보기 -->
	<select id="selectLike"
			parameterType="_int"
			resultMap="LikeResultSet">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCT_NO IN (
		    SELECT PRODUCT_NO
		    FROM FAVORITES
		    WHERE MEM_NO = #{memNo}
		)
	</select>
	
	<!-- 내 주문 목록 보기(배송상태 확인) -->
	<select id="selectOrder"
			parameterType="_int"
			resultMap="OrderResultSet">
				SELECT *
		    FROM ORDER_DETAIL
		    WHERE MEM_NO = 23
	</select>
</mapper>