<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="oneClassMapper">
	
	<!-- 조회 결과를 자바 product VO 타입으로 뽑아주는 resultMap -->
	<resultMap type="oneClass" id="oneClassResultSet">
		<result column="CLASS_NO" property="classNo" />
		<result column="CLASS_NAME" property="className" />
		<result column="CLASS_TEACHER" property="classTeacher" />
		<result column="STUDENT_MAXNO" property="studentMaxNo" />
		<result column="CLASS_DETAIL" property="classDetail" />
		<result column="PRICE" property="price" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="START_DATE" property="startDate" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
		<result column="THUMBNAIL_IMG" property="thumbnailImg" />
		<result column="CURRENT_STUDENT" property="currentStudent" />
	</resultMap>
	
	<resultMap type="oneClassImg" id="oneClassImgResultSet">
		<result column="CLASS_IMG_NO" property="classImgNo" />
		<result column="CLASS_IMG_PATH" property="classImgPath" />
		<result column="CLASS_IMG_ORIGIN" property="classImgOrigin" />
		<result column="CLASS_IMG_CHANGE" property="classImgChange" />
		<result column="CLASS_IMG_TYPE" property="imgType" />
		<result column="STATUS" property="status" />
		<result column="REF_CNO" property="refCno" />
	</resultMap>
	
	<!-- 클래스 리뷰용 resultMap -->
	<resultMap type="oneClassReview" id="oneClassReviewResultSet">
		<result column="CLASS_REVIEW_NO" property="classReviewNo" />
		<result column="CLASS_REVIEW_CONTENT" property="classReviewContent" />
		<result column="LIST_NO" property="listNo" />
		<result column="REVIEW_WRITER" property="reviewWriter" />
		<result column="START_DATE" property="startDate" />
		<result column="CLASS_NAME" property="className" />
	</resultMap>
	
	<!-- 클래스 신청용 resultMap -->
	<resultMap type="oneClassRegist" id="oneClassRegistResultSet">
		<result column="REGIST_NO" property="registNo" />
		<result column="REGIST_PAYCODE" property="registPaycode" />
		<result column="REGIST_PRICE" property="registPrice" />
		<result column="REGIST_PERSON_NO" property="registPersonNo" />
		<result column="REGIST_DATE" property="registDate" />
		<result column="REGIST_CANCEL_DATE" property="registCancleDate" />
		<result column="STATUS" property="status" />
		<result column="CLASS_NO" property="classNo" />
		<result column="MEM_NO" property="memNo" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM CLASS
		 WHERE STATUS = 'Y'
	</select>
	
	<select id="selectList"
			resultMap="oneClassResultSet">
		SELECT C.CLASS_NO
		     , C.CLASS_NAME
		     , C.CLASS_TEACHER
             , C.STUDENT_MAXNO
             , C.CLASS_DETAIL
             , C.PRICE
             , CIMG.CLASS_IMG_PATH AS THUMBNAIL_IMG
		     , TO_CHAR(C.START_TIME, 'HH24:MI') AS "START_TIME"
             , TO_CHAR(C.END_TIME, 'HH24:MI') AS "END_TIME"
             , TO_CHAR(C.START_DATE, 'YYYY-MM-DD') AS "START_DATE"
             , TO_CHAR(C.ENROLL_DATE, 'YYYY-MM-DD') AS "ENROLL_DATE"
             , (SELECT COUNT(*) 
				          FROM CLASS_REGIST CR 
				         WHERE CR.CLASS_NO = C.CLASS_NO) AS CURRENT_STUDENT
                         
		  FROM CLASS C
          JOIN CLASS_IMG CIMG ON C.CLASS_NO = CIMG.REF_CNO
		 WHERE C.STATUS = 'Y'
           AND CIMG.CLASS_IMG_TYPE = 1
         ORDER BY C.START_DATE DESC
	</select>
	
	<select id="countReservation"
			parameterType="_int"
			resultType="_int">
			SELECT COALESCE(SUM(REGIST_PERSON_NO), 0)
			  FROM CLASS_REGIST
			 WHERE MEM_NO = #{memNo}
			   AND STATUS = 'Y'

	</select>
	
	
	<select id="selectOneClass"
			parameterType="_int"
			resultMap="oneClassResultSet">
		SELECT C.CLASS_NO
		     , C.CLASS_NAME
		     , C.CLASS_TEACHER
             , C.STUDENT_MAXNO
             , C.CLASS_DETAIL
             , C.PRICE
		     , TO_CHAR(C.START_TIME, 'HH24:MI') AS "START_TIME"
             , TO_CHAR(C.END_TIME, 'HH24:MI') AS "END_TIME"
             , TO_CHAR(C.START_DATE, 'YYYY-MM-DD') AS "START_DATE"
             , TO_CHAR(C.ENROLL_DATE, 'YYYY-MM-DD') AS "ENROLL_DATE"
			 , CIMG.CLASS_IMG_PATH AS THUMBNAIL_IMG
		  FROM CLASS C
		  JOIN CLASS_IMG CIMG ON C.CLASS_NO = CIMG.REF_CNO
		 WHERE C.CLASS_NO = #{oneClassNo}
		   AND C.STATUS = 'Y'
		   AND CIMG.CLASS_IMG_TYPE = 1
		   
	</select>
	
	<select id="selectOneClassImgList"
			parameterType="_int"
			resultMap="oneClassImgResultSet">
		SELECT *
		  FROM CLASS_IMG
		 WHERE REF_CNO = #{oneClassNo}
		   AND STATUS='Y'
		   AND CLASS_IMG_TYPE = 2
	</select>
	
	
	<select id="selectClassReviewList"
			parameterType="_int"
			resultMap="oneClassReviewResultSet">
				SELECT CR.CLASS_REVIEW_NO,
				       CR.CLASS_REVIEW_CONTENT, 
				       CR.LIST_NO, 
				       M.MEM_NAME AS REVIEW_WRITER,
				       C.CLASS_NAME,
				       TO_CHAR(C.START_DATE, 'YYYY-MM-DD') AS "START_DATE"
				  FROM CLASS_REVIEW CR
				  JOIN MEMBER M USING(MEM_NO)
				  JOIN CLASS_REGIST CREG ON CREG.REGIST_NO = CR.LIST_NO
				  JOIN CLASS C ON CREG.CLASS_NO = C.CLASS_NO
				 WHERE CREG.CLASS_NO = #{oneClassNo}

	</select>
	
	
	<insert id="insertOneClassReigst"
				parameterType="oneClassRegist">
			INSERT INTO CLASS_REGIST(REGIST_NO
			                , REGIST_PAYCODE
			                , REGIST_PRICE
			                , REGIST_PERSON_NO
			                , REGIST_DATE
			                , MEM_NO
			                , CLASS_NO)
			           VALUES(#{registNo}
			                , #{registPaycode}
			                , #{registPrice}
			                , #{registPersonNo}
			                , SYSDATE
			                , #{memNo}
			                , #{classNo})
	</insert>
	
	<select id="selectOneClassRegist"
			parameterType="String"
			resultMap="oneClassRegistResultSet">
			
			SELECT REGIST_NO
			     , REGIST_PAYCODE
			     , REGIST_PRICE
			     , REGIST_PERSON_NO
			     , TO_CHAR(REGIST_DATE, 'YYYY-MM-DD') AS "REGIST_DATE"
			     , TO_CHAR(REGIST_CANCEL_DATE, 'YYYY-MM-DD') AS "REGIST_CANCEL_DATE"
			     , STATUS
			     , CLASS_NO
			     , MEM_NO
			  FROM CLASS_REGIST
			 WHERE REGIST_NO = #{ocrno}
	</select>
	
	<update id="deleteRegist" parameterType="String">		
		UPDATE CLASS_REGIST
		   SET STATUS = 'N',
		       REGIST_CANCEL_DATE = SYSDATE
		 WHERE REGIST_NO = #{ocrno}
	</update>
	
	<delete id="deleteChatMem" parameterType="oneClassRegist">
			DELETE 
			  FROM CHAT_MEM
			 WHERE CLASS_NO = #{classNo}
			   AND MEM_NO = #{memNo}
	</delete>
	
	<insert id="insertReview"
			parameterType="oneClassReview">
			INSERT INTO CLASS_REVIEW(CLASS_REVIEW_NO
			                , CLASS_REVIEW_CONTENT
			                , LIST_NO
			                , MEM_NO)
			           VALUES(SEQ_CLASS_REVIEW_NO.NEXTVAL
			                , #{classReviewContent}
			                , #{listNo}
			                , #{reviewWriter})

	</insert>

 	 
</mapper>
