<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="recommandMapper">
	
	<!-- 조회 결과를 자바 product VO 타입으로 뽑아주는 resultMap -->
	<resultMap type="product" id="productResultSet">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRODUCT_EXPLAIN" property="productExplain" />
		<result column="PRODUCT_PRICE" property="productPrice" />
		<result column="PRODUCT_STOCK" property="productStock" />
		<result column="REGIST_DATE" property="registDate" />
		<result column="CATEGORY" property="category" />
		<result column="GENDER" property="gender" />
		<result column="TOP_NOTE" property="topNote" />
		<result column="MIDDLE_NOTE" property="middleNote" />
		<result column="BASE_NOTE" property="baseNote" />
		<result column="PRODUCT_STATUS" property="productStatus" />
		<result column="THUMBNAIL_IMG" property="thumbnailImg" />
	</resultMap>
	
	<select id="selectList"
			parameterType="recommand"
			resultMap="productResultSet">
			
			SELECT *
			FROM (
         	 SELECT P.PRODUCT_NO, P.PRODUCT_NAME, P.PRODUCT_EXPLAIN,P.TOP_NOTE,P.MIDDLE_NOTE,P.BASE_NOTE, PI.PRODUCT_IMG_PATH AS THUMBNAIL_IMG,ROW_NUMBER() OVER (ORDER BY P.PRODUCT_NO) AS RN
              FROM PRODUCT P
              JOIN PRODUCT_IMG PI ON(P.PRODUCT_NO = PI.PRODUCT_NO)
              LEFT JOIN PRODUCT_REVIEW PR ON(P.PRODUCT_NO = PR.PRODUCT_NO)
             WHERE P.GENDER = #{genderAnswer}
              AND PI.IMG_TYPE = 1
              AND P.CATEGORY = #{categoryAnswer}
			  AND (P.TOP_NOTE LIKE '%'||#{scentAnswer}||'%' 
			   OR P.MIDDLE_NOTE LIKE '%'||#{scentAnswer}||'%'
			   OR P.BASE_NOTE LIKE '%'||#{scentAnswer}||'%')              
			  AND P.PRODUCT_STATUS = 'Y'
           	   GROUP BY P.PRODUCT_NO, P.PRODUCT_NAME, P.PRODUCT_EXPLAIN,P.TOP_NOTE,P.MIDDLE_NOTE,P.BASE_NOTE, PI.PRODUCT_IMG_PATH
              
        	  <choose>
              	<when test='reviewStart == 0'>
              		HAVING COUNT(PR.REVIEW_NO) &lt;= #{reviewEnd}
              	</when>
              	<when test='reviewEnd == 0'>
	              	HAVING COUNT(PR.REVIEW_NO) &gt;= #{reviewStart} 
              	</when>
              	<otherwise>
              		HAVING COUNT(PR.REVIEW_NO) BETWEEN #{reviewStart} AND #{reviewEnd}
              	</otherwise>
           	  </choose>
           	  )
           	  WHERE RN = 1

	</select>
	
	<insert id="insertCoupone"
			parameterType = "_int">
			
			INSERT INTO MEM_COUPON (MEM_COUPON_NO ,
                         REGIST_DATE,
                         STATUS,
                         MEM_NO,
                         COUPON_NO)
                  VALUES(SEQ_MEM_COUPON_NO.NEXTVAL,
                         SYSDATE,
                         'Y',
                         #{memNo},
                         2)
			
		
	</insert>
	
	<select id="selectCoupon"
			parameterType = "_int"
			resultType="_int">
			
			SELECT COUNT(MEM_COUPON_NO)
			  FROM MEM_COUPON
			 WHERE MEM_NO = #{memNo}
			   AND COUPON_NO = 2
			
		
	</select>
	
	
	

 	 
</mapper>
