<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<!-- 
		기존 : settings, typeAliases, environments, mappers 영역 작성
		스프링 마이바티스 연동 후 : settings, typeAliases, mappers 영역만 작성
		(environments 영역에 작성했었던 DB 접속 정보는 이미
		 root-context.xml 에 적었기 때문에)
	-->
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.mata.persfume.event.model.vo.Event" alias="event" />
		<typeAlias type="com.mata.persfume.event.model.vo.EventImg" alias="eventImg" />
		<typeAlias type="com.mata.persfume.product.model.vo.Product" alias="product" />
		<typeAlias type="com.mata.persfume.product.model.vo.ProductImg" alias="productImg" />
		<typeAlias type="com.mata.persfume.member.model.vo.Member" alias="member" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/event-mapper.xml" />
		<mapper resource="/mappers/product-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
	</mappers>
	
</configuration>  





